<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atom_Password_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Atom_Password_Manager.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="BackColor2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial Rounded MT Bold, 12.75pt</value>
            </setting>
            <setting name="FontMic" serializeAs="String">
                <value>Arial Rounded MT Bold, 9pt</value>
            </setting>
            <setting name="caractereParola" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&amp;*()_-=+;[]{}:.,&lt;&gt;/?</value>
            </setting>
            <setting name="lungimeParola" serializeAs="String">
                <value>16</value>
            </setting>
        </Atom_Password_Manager.Properties.Settings>
    </userSettings>
</configuration>